/target/
!.mvn/wrapper/maven-wrapper.jar

/backend//target/
/backend/!.mvn/wrapper/maven-wrapper.jar
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

/backend/.apt_generated
/backend/.classpath
/backend/.factorypath
/backend/.project
/backend/.settings
/backend/.springBeans
/backend/.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/backend/.idea
/backend/*.iws
/backend/*.iml
/backend/*.ipr
### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/backend/nbproject/private/
/backend/build/
/backend/nbbuild/
/backend/dist/
/backend/nbdist/
/backend/.nb-gradle/

/frontend/node_modules
/frontend/.idea
